@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #F3DD58;
    font-family:Philosopher, cursive;
    font-size: 15px;
}

.menu, footer {
    background-color: grey;
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav a, footer a { 
    color: #F3DD58;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}

.cake {
    width: 200px;
    height: 250px;
    padding: 10px;
}

footer {
    background-color: grey;
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center
}

footer nav a { 
    color: #F3DD58;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social {
    width: 50px;
    height: 50px;
}