@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #F3DD58;
    font-family:Philosopher, cursive;
    font-size: 15px;
}

header footer {
    background: rgba(128,128,128,1);
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header a, footer a { 
    color: #F3DD58;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}