@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #F3DD58;
    font-family:Philosopher, cursive;
    font-size: 16px;
}