@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #F3DD58;
    font-family:Philosopher, cursive;
    font-size: 16px;
}

header {
    background-image: url("../img/taste.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

h1, h2, h3 {
    text-align: center;
}

.menu {
    padding-right: 10px;
}

#about {
    position: relative;
}

.me {
    margin: 2px 2px 2px 2px;
}

#portfolio {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.tasty-stories {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

footer {
    background-color: #555449;
    background-position: center center;
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

    