@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #F3DD58;
    font-family:Philosopher, cursive;
    font-size: 16px;
}

header {
    background-image: url("../img/taste.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
}

.menu, footer {
    background: rgba(128,128,128,0.75);
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

header a, footer a { 
    color: #F3DD58;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}

h1, h2, h3 {
    text-align: center;
}

.me {
    width: 210px;
    height: 250px;
    float: left;
    margin: 0px 10px 0px 0px;
}

#portfolio {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.tasty-stories {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.traditional, .chocolate, .trufels, .macaron   {
    float: left;
    margin: 10px 10px 10px 10px;
    background: rgba(245,242,143,1);
    padding: 10px 10px 10px 10px;
}

#about, #portfolio, .tasty-stories, #contacts {
    background: rgba(245,242,143,1);
    background-position: center center;
    background-size: cover;
    margin: 10px 10px 10px 10px;
}

.noborder {
    border: 0;
    width: 900px;
    height: 400px;
}

#contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

    